body {
    background-image: url("DataBackground.jpg");
    background-position: top;
    background-size: cover;

}

#tableMaker {
    color: blue;
}

.gavyn {
    width: 300px;
    border: 15px solid black;
    background-color: grey;
    padding: 50px;
    text-align: center;
    margin: 50px auto;
}

.button {
    border: 100px;
    border-color: black;
}

#testing {
    color: whitesmoke;
}

.wrong {
    background-color: red;
}